* { 
  box-sizing: border-box; 
  font-family: 'Montserrat', sans-serif; 
  scroll-behavior: smooth;
  color: rgb(63, 63, 63);
}

body {
  min-height: 100vh;
}

main {
  padding: 0 2em;
  max-width: 1400px;
  margin: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  border-bottom: 1px solid rgb(63, 63, 63);
}


p {
  line-height: 1.5em;
}

.boxShaddow {
  box-shadow: 2px 2px 4px gray;
}

/* LAYOUT */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 190, 70);
  padding: 0 1em;
  height: 75px;
}

#logo-link:hover, #nav-links a:hover, #back-title a:hover {
  border-bottom: none;
}

#nav-links {
  display: flex;
  justify-content: space-around;
}

#nav-links a {
  padding: 1em;
}

#nav-links a:hover {
  font-weight: 600;
}

/* CATEGORY / SUBJECT / MESSAGE */
#back-title {
  margin: 2em 0;
}

#back-title * {
  display: inline;
  margin-right: 10px;
}

#back-title a i:hover {
  color: rgb(255, 190, 70);
}

/* THEME / SUBJECT */
.theme-list, .subject-list {
  list-style: none;
  font-weight: 600;
  width: 100%;
  padding: 10px;
  margin-bottom: 2em;
}

.theme-list a, .subject-list a {
  font-size: 1.5em;
}

.theme-list {
  background-color: rgb(255, 232, 190);
}

.subject-list {
  background-color: rgb(255, 243, 224);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subject-user {
  
}